{{ $iface := .iface }}{{ $netmask := .netmask }}

global_defs {
  vrrp_version 3
  vrrp_iptables {{ .iptablesChain }}
}

local_address_group laddr_g1 {  {{ range .lips }}
  {{ . }}{{ end }}
}

{{ range $i, $svc := .svcs }}
# Service: {{ $svc.Name }}
virtual_server {{ $svc.IP }} {{ $svc.Port }} {
  delay_loop 5
  lvs_sched wlc
  lvs_method {{ $svc.LVSMethod }}
  persistence_timeout 1800
  protocol {{ $svc.Protocol }}
  syn_proxy
  laddr_group_name laddr_g1
  alpha
  omega
  quorum 1
  hysteresis 0
  quorum_up "ip addr add {{ $svc.IP }}/32 dev lo;"
  quorum_down "ip addr del {{ $svc.IP }}/32 dev lo;"

  {{ range $j, $backend := $svc.Backends }}
  real_server {{ $backend.IP }} {{ $backend.Port }} {
    weight 1
    MISC_CHECK {
	misc_path "/sbin/healthcheck.sh"
	delay_loop 60
    }
  }
{{ end }}
}    
{{ end }}
